APP_URL=http://localhost/AN25/OneFit
DB_HOST=seu_host_mysql
DB_NAME=onefit
DB_USER=seu_usuario_mysql
DB_PASSWORD=sua_senha_mysql
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=seu_usuario_smtp
MAIL_PASSWORD=sua_senha_smtp
MAIL_FROM_ADDRESS=nao-responda@example.com
MAIL_FROM_NAME=OneFit
