APP_URL=http://localhost/AN25/OneFit

DB_HOST=onefit.mysql.dbaas.com.br
DB_NAME=onefit
DB_USER=onefit
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app
MAIL_FROM_ADDRESS=seu_email@gmail.com
MAIL_FROM_NAME=OneFit